.card {
  background: #3c3e44;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  border-radius: 1em;
  height: 13em;
}

.image {
  height: inherit;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.info {
  text-align: left;
  display: grid;
  padding: 1em;
}

.info * {
  margin: 0;
}

.dead {
  color: rgb(253, 103, 103);
}
