.card {
  background: #3c3e44;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  border-radius: 1em;
  height: 13em;
}

.image {
  height: inherit;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.info {
  text-align: left;
  display: grid;
  padding: 1em;
}

.info * {
  margin: 0;
}

.dead {
  color: rgb(253, 103, 103);
}

@media (max-width: 500px) {
  .card {
    height: auto;
    padding: 1em;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    place-items: center;
  }

  .image {
    height: auto;
    width: 80%;
    border-radius: 50%;
  }

  .info {
    text-align: center;
    width: 100%;
  }

  .info * {
    margin: 0.2em;
  }
}
