.character-card {
  background: #3c3e44;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  border-radius: 1em;
}

.character-card__image {
  width: 100%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.character-card__info {
  text-align: left;
  display: grid;
  padding: 1em;
}

.character-card__info * {
  margin: 0;
}
